@font-face {
    font-family: 'Extenda 30 Deca';
    src: url('https://db.onlinewebfonts.com/t/fa6db9175696f50a2566ed77580e4460.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.extenda {
    font-family: 'Extenda 30 Deca', sans-serif;
}

:root {
    --background-color: #ffffff;
    --line-color: #ebebeb;
}

.bg-blocks {
    --s: 150px;

    --_g: #0000 8%, var(--background-color) 0 17%, #0000 0 58%;
    background:
        linear-gradient(135deg, #0000 20.5%, var(--background-color) 0 29.5%, #0000 0) 0 calc(var(--s) / 4),
        linear-gradient(45deg, var(--_g)) calc(var(--s) / 2) 0,
        linear-gradient(135deg, var(--_g), var(--background-color) 0 67%, #0000 0),
        linear-gradient(
            45deg,
            var(--_g),
            var(--background-color) 0 67%,
            #0000 0 83%,
            var(--background-color) 0 92%,
            #0000 0
        ),
        var(--line-color);
    background-size: var(--s) var(--s);
}

.bg-hearts {
    --s: 75px;

    --_g: 80%, var(--line-color) 25.4%, #0000 26%;
    background:
        radial-gradient(at 80% var(--_g)),
        radial-gradient(at 20% var(--_g)),
        conic-gradient(from -45deg at 50% 41%, var(--line-color) 90deg, var(--background-color) 0) calc(var(--s) / 2) 0;
    background-size: var(--s) var(--s);
}

.bg-lines {
    --s: 80px;

    --_s: calc(2 * var(--s)) calc(2 * var(--s));
    --_g: 35.36% 35.36% at;
    --_c: #0000 66%, var(--line-color) 68% 70%, #0000 72%;
    background:
        radial-gradient(var(--_g) 100% 25%, var(--_c)) var(--s) var(--s) / var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) var(--s) var(--s) / var(--_s),
        radial-gradient(var(--_g) 100% 25%, var(--_c)) 0 0 / var(--_s),
        radial-gradient(var(--_g) 0 75%, var(--_c)) 0 0 / var(--_s),
        repeating-conic-gradient(var(--background-color) 0 25%, #0000 0 50%) 0 0 / var(--_s),
        radial-gradient(var(--_c)) 0 calc(var(--s) / 2) / var(--s) var(--s) var(--background-color);
}
