@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  color: black;
}

@media print {
  body {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  body {
    margin: 0;
    padding: 0;
  }

  body * {
    visibility: hidden !important;
  }

  #print-wrapper,
  #print-wrapper * {
    visibility: visible !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}