@import 'tailwindcss';

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root {
    --background: #f9fafb;
    --sidebar: white;
    --color: #1e2939;
    --accent: #2b7fff;
}

@media print {
    body {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
    }

    body {
        margin: 0;
        padding: 0;
    }

    body * {
        visibility: hidden !important;
    }

    #print-wrapper,
    #print-wrapper * {
        visibility: visible !important;
    }
}

[data-theme='dark'] {
    --background: #101828;
    --sidebar: #1e2939;
    --color: #f3f4f6;
    --accent: #51a2ff;
}

body {
    background: var(--background);
    color: var(--color);
    accent-color: var(--accent);
}
