html {
    --s: 140px;
    /* control the size*/
    --c1: var(--ticket-secondary);
    --c2: var(--ticket-background);

    --_g: #0000 52%, var(--c1) 54% 57%, #0000 59%;
}

#default-layout .background-gradient {
    background:
        linear-gradient(to right, var(--c2) 0%, transparent 100%),
        radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0 calc(var(--s) / 2),
        radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s) / 2) 0,
        radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
        radial-gradient(farthest-side at 50% -33.33%, var(--_g)),
        var(--c2);
    background-size:
        100% 100%,
        calc(var(--s) / 4.667) var(--s),
        var(--s) calc(var(--s) / 4.667),
        calc(var(--s) / 4.667) var(--s),
        var(--s) calc(var(--s) / 4.667);
}

#default-layout .barcode-gradient {
    background-color: var(--ticket-secondary);
    opacity: 0.8;
    background-image:
        radial-gradient(var(--ticket-primary) 0.5px, transparent 0.5px),
        radial-gradient(var(--ticket-primary) 0.5px, var(--ticket-background) 0.5px);
    background-size: 20px 20px;
    background-position:
        0 0,
        10px 10px;
}

#default-layout .slanted-main {
    clip-path: polygon(
        0 0,
        calc(100% - 35px) 0,
        calc(100% - 25px) 15%,
        calc(100% - 30px) 30%,
        calc(100% - 20px) 45%,
        calc(100% - 25px) 60%,
        calc(100% - 15px) 75%,
        calc(100% - 20px) 90%,
        100% 100%,
        0 100%
    );
}

#default-layout .slanted-side {
    clip-path: polygon(35px 0, 100% 0, 100% 100%, 0 100%, 20px 90%, 15px 75%, 25px 60%, 20px 45%, 30px 30%, 25px 15%);
    margin-left: -50px;
    position: relative;
}
