html {
    --s: 100px;
    /* control the size*/
    --c1: var(--ticket-secondary);
    --c2: var(--ticket-background);

    --_g:
        var(--c2) 6% 14%, var(--c1) 16% 24%, var(--c2) 26% 34%, var(--c1) 36% 44%, var(--c2) 46% 54%, var(--c1) 56% 64%,
        var(--c2) 66% 74%, var(--c1) 76% 84%, var(--c2) 86% 94%;
}

#default-layout .background-gradient {
    background:
        linear-gradient(to right, var(--c2) 0%, transparent 100%),
        radial-gradient(100% 100% at 100% 0, var(--c1) 4%, var(--_g), #0008 96%, #0000),
        radial-gradient(100% 100% at 0 100%, #0000, #0008 4%, var(--_g), var(--c1) 96%) var(--c1);
    background-size:
        100% 100%,
        var(--s) var(--s),
        var(--s) var(--s);
}

#default-layout .barcode-gradient {
    background-color: var(--ticket-secondary);
    opacity: 0.8;
    background-image:
        radial-gradient(var(--ticket-primary) 0.5px, transparent 0.5px),
        radial-gradient(var(--ticket-primary) 0.5px, var(--ticket-background) 0.5px);
    background-size: 20px 20px;
    background-position:
        0 0,
        10px 10px;
}

#default-layout .slanted-main {
    clip-path: polygon(
        0 0,
        calc(100% - 35px) 0,
        calc(100% - 25px) 15%,
        calc(100% - 30px) 30%,
        calc(100% - 20px) 45%,
        calc(100% - 25px) 60%,
        calc(100% - 15px) 75%,
        calc(100% - 20px) 90%,
        100% 100%,
        0 100%
    );
}

#default-layout .slanted-side {
    clip-path: polygon(35px 0, 100% 0, 100% 100%, 0 100%, 20px 90%, 15px 75%, 25px 60%, 20px 45%, 30px 30%, 25px 15%);
    margin-left: -50px;
    position: relative;
}
